name: Buf
on:
  push:
    branches: [ main ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: { } # support manual runs

permissions:
  contents: read
  pull-requests: write

jobs:
  validate-protos:
    name: Validate protos
    if: ${{ github.event_name == 'pull_request'}}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Buf CI
        uses: bufbuild/buf-action@v1
        with:
          github_token: ${{ github.token }}
          token: ${{ secrets.BUF_TOKEN }}
          format: true
          lint: true
          # Temp disable breaking checks due to upgrade to v0.11.0
          breaking: false
          push: false
          archive: false
      - name: Check Generate
        run: make checkgenerate
